/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
	box-sizing: border-box;
  }

//Display mobile
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@500;600;700;800;900&family=Kalam:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$font-p: 'Roboto', sans-serif;

body {
    background-color: white;
}

.header{
    
    &__title{
        text-align:center;
        font-size: 32px;
        padding: 20px;
    }
    &__wrapInput{
        width:100%;
        text-align: center;
    }
    &__place{
        margin:30px 0 10px 10px;
        font-size: 20px;
    }
}

.wrapForecast{
    width: 100%;

}
.wrapForecast__day{
    // border:black 1px solid;
    margin : 10px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    font-family: $font-p;
    &__title{
        padding: 10px;
        font-weight: bold;
    }
    & .void{
        display:none;
    } 
    &__wrapHour{
        border: black solid 1px;
        margin-top:-2px;
        padding: 10px;
        width : 40%;
        height : 160px;
        background-color:#c9c9d7;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:center;
        &__humidity{
            color:rgb(64, 128, 191);
            font-size:13px;
        }
        &__icon{
            width:40px;
        }
    }
}

@media only screen and (min-width:768px){
    .wrapForecast__day{
        flex-direction: row;
        & .void{
            display: block;
            background-color: white;
            border-width : 0;

        }
    }
}